/*  
	//////////////////////////////////////
	//									//
	//			BASE ELEMENTS			//
	//									//
	//////////////////////////////////////
*/

// main

html
{
	font-size: 65.5%;
	height: 100%;
	margin: 0 !important;
}

body 
{
	// background-image: linear-gradient(to bottom left, $blue, $dark-purple);
	color: $black;
	font-family: $f-primary !important;
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.5;
	margin: 0 !important;
	// position: relative;
}

// base

a 
{
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5
{
	line-height: 1.5;
	font-family: $f-secondary;
	font-weight: 600;
}

h1
{
	font-size: $font-xl;
}

hr 
{
	border: 1px solid $light-grey;
	border-radius: 90px;
	margin: 7rem 0;
}

.hr-2
{
	border: 1px solid $light-brown;
	margin: 2rem 0;
	margin: 2rem 10rem;
	
}
.hr-3
{
	@extend hr;
	margin: 30px 100px !important;
}

li
{
	font-size: $font-s;
}

p 
{
	color: $dark-grey;
	font-size: $font-s;
}

// loading spinners

.spinner-1:before {
	content: "";
	animation: spinner 0.7s ease infinite;
	border-radius: 50%;
	border: 3px solid $grey;
	border-top-color: $black;
	box-sizing: border-box;
	height: 6rem;
	left: 50%;
	margin-left: -3rem;
	margin-top: -3rem;
	position: absolute;
	top: 50%;
	width: 6rem;
}

.spinner-2:before {
	content: "";
	animation: spinner 0.7s linear infinite;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: $black;
	border-bottom-color: $black;
	box-sizing: border-box;
	height: 6rem;
	left: 50%;
	margin-top: -3rem;
	margin-left: -3rem;
	position: absolute;
	top: 50%;
	width: 6rem;
}

.spinner-3:before {
	content: "";
	animation: spinner 0.7s linear infinite;
	border-radius: 50%;
	border-top: 3px solid $black;
	border-right: 3px solid transparent;
	box-sizing: border-box;
	height: 6rem;
	left: 50%;
	margin-top: -3rem;
	margin-left: -3rem;
	position: absolute;
	top: 50%;
	width: 6rem;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

strong
{
	color: black !important;
	font-weight: 900 !important;
}

.cont {
	background-color: white;
	border-radius: 0.75rem;
	padding: 2rem;
	margin-bottom: 1rem;
}