/*  
	///////////////////////////////////////////
	//									     //
	//			VARIABLES & IMPORTS			 //
	//									     //
	///////////////////////////////////////////
*/


// imports 

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Cormorant+Garamond&display=swap');

// colors standard

$white: #ffffff;
$light-grey: #ececec;
$grey: #cfcfcf;
$black: #000000;
$dark-grey: #3c3c3c;
$dark-grey-2: #333333;

// colors main

$light-brown: #686157;
$brown: #773800;
$green: rgb(32, 160, 32);
$red: rgb(197, 38, 38);


// fonts

$f-primary: "Lato", sans-serif;
$f-secondary: "Cormorant Garamond", serif;
$f-tertiary: "Open Sans", sans-serif;

// font sizes

$font-xs: 1.6rem;
$font-s: 1.8rem;
$font-m: 2.1rem;
$font-l: 2.6rem;
$font-xl: 3.4rem;
