/*  
	///////////////////////
	//					 //		     
	//		FOOTER		 //
	//					 //
	///////////////////////
*/


footer 
{	
	padding-top: 3rem;
	background-color: $light-grey;
	a 
	{
		color: $black;

		&:hover {
			color: $dark-grey;
		}
	}
	
	hr 
	{
		border-color: $black;
		margin: 20px 0;
	}
	
	p
	{
		color: $black;
	}

	.left-footer {
		padding: 5rem;
	}
	.right-footer {
		padding: 5rem;
	}
}
