/*  
	///////////////////////
	//					 //		     
	//		FOOTER		 //
	//					 //
	///////////////////////
*/


footer 
{	
	padding-top: 3rem;
	background-color: $light-grey;
	a 
	{
		color: $dark-grey;

		&:hover {
			color: $grey;
		}
	}

	h2
	{
		font-size: $font-l;
	}
	
	hr 
	{
		border-color: $black;
		margin: 20px 0;
	}
	
	p
	{
		font-size: $font-s !important;
		color: $dark-grey;
	}
	
	.small
	{
		font-size: 1rem !important;
	}

	.left-footer {
		padding: 3rem 5rem;
	}

	.middle-footer
	{
		padding: 3rem 5rem;
	}

	.right-footer {
		padding: 3rem 5rem;
	}
}
