/*  
	///////////////////////
	//					 //		     
	//		HEADER		 //
	//					 //
	///////////////////////
*/

.hero
{
	background-image: linear-gradient(rgba(190, 190, 190, 0.15), rgba(190, 186, 186, 0.3)), url('/assets/img/images/header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	position: relative;
}

.hero-text
{
	color: $white;
	left: 50%;
	position: absolute;
	text-align: center;
	text-shadow: 2px 2px 8px $black;
	top: 35%;
	transform: translate(-50%, -50%);

	h1
	{
		font-size: 7rem;
	}
}