/*  
	///////////////////////////////////////////////
	//									     	 //
	//			RESPONSIVE BREAKPOINTS			 //
	//									      	 //
	///////////////////////////////////////////////
*/


// max width

@media (max-width: 576px)
{
	// base

	h1,h2,h3,h4,h5
	{
		line-height: 1;
	}

	// container styles

	// footer

	// header

	.hero
	{

		.hero-text
		{
			width: 90%;
			.hero-title
			{
				font-size: 2.6rem !important;
			}

			.hero-subtitle
			{
				font-size: 2.1rem !important;
			}
		}
	}

	.hero-2
	{
		height: 50%;
		.hero-text
		{
			.hero-title
			{
				font-size: 3rem !important;
			}
		}

	}

	// nav

	.navbar-custom
	{
		.navbar-brand
		{
			font-size: $font-xs !important;
		}
		
		.navbar-nav
		{
			.nav-link
			{
				font-size: $font-xs;
			}
		}
	}

	.navbar-tours
	{
		font-size: 1.2rem;
	}

	// buttons

	// components
	.accordion
	{
		.card
		{
			border-radius: 0px;
			.card-header
			{
				button
				{
					font-family: $f-primary;
					color: $light-brown;
					font-size: 1.5rem;
				}
			}

			.card-body
			{
				font-size: 1.1rem !important;
			}
		}
	}

	// forms

	// images

	// sections
	.block-icon-white
	{
		margin-bottom: 1rem;
		height: 200px;
	}

}

@media (max-width: 768px) 
{
	// base

	p
	{
		font-size: $font-xs;
	}

	li 
	{
		font-size: $font-xs;
	}

	// footer

	// header

	.hero
	{
		.hero-title
		{
			font-size: 4rem !important;
		}

		.hero-subtitle
		{
			font-size: 3rem !important;
		}
	}

	// nav

	.navbar-custom
	{
		padding: 1.5rem !important;
		.navbar-brand
		{
			font-size: $font-s;
		}
	}

	// buttons

	// components

	// forms

	// images

	// sections
}

@media (max-width: 992px)
{
	// base

	hr 
	{
		margin: 3.8rem 0;
	}
	

	// footer

	

	// header

	.hero
	{
		h1
		{
			font-size: 5rem;
		}

		.hero-logo
		{
			padding-bottom: 2rem;
		}
	}

	.hero-2
	{
		height: 50%;
		.hero-text
		{
			.hero-title
			{
				font-size: 4rem;
			}
		}

	}

	// nav

	.navbar-collapse
	{
		background-color: $white;
	}

	// buttons

	// components

	.carousel-caption
	{
		h5
		{
			font-size: 1rem;
		}

		p
		{
			font-size: 0.8rem;

			.rented
			{
				padding: 0.3rem;
			}

			.for-rent
			{
				padding: 0.3rem;
			}
		}
	}

	// forms

	// images

	// sections

	.block-icon-modern-items
	{
		.block-icon-modern
		{
			margin-top: 1px;
			margin-bottom: 1px;
		}
	}

}

@media (max-width: 1200px)
{
	// footer

	// header

	// nav

	// buttons

	// components

	// forms

	// images

	// sections

}



// min width

@media (min-width: 576px)
{
	// footer

	// header

	// nav

	// buttons

	// components

	// forms

	// images

	// sections
	.block-icon-white
	{
		margin-bottom: 1rem;
		height: 200px;
	}

}

@media (min-width: 768px)
{
	// footer

	// header

	// nav

	// buttons

	// components

	// forms

	// images

	// sections
	.block-icon-white
	{
		height: 317.3px;

	}

}

@media (min-width: 992px) 
{

	// base

	.cont 
	{
		padding: 5rem;
	}	

	.hr-3
	{
		display: none !important;
		border: 0px solid black;
	}
	
	// footer
	
	// header

	.header-subtext 
	{
		font-size: 30px;
		padding-bottom: 5rem;
	}

	.header-text 
	{
		font-size: 80px;
		padding-top: 10rem;
	}
	
	// nav

	.navbar-custom 
	{
		padding: 2.2rem;
	}

	// buttons

	// components

	// forms

	// images

	// sections

	.block-icon-modern-items
	{
		flex-direction: row;
    	margin-left: -1px;
    	margin-right: -1px;
    	transform: translateY(-100px);
    	margin-bottom: -100px;
	}
	.block-icon-white
	{
		height: 237.3px;

	}

}

@media (min-width: 1200px)
{
	// base

	// footer

	// header

	// nav

	// buttons

	// components

	// forms

	// images

	// sections
}

