/*  
	///////////////////////////////////
	//								 //	     
	//			NAVIGATION			 //
	//								 //	     
	///////////////////////////////////
*/

// main navigation

nav.shrink
{
	padding: 1.5rem 2.5rem !important;
	background-color: $white;
}

.navbar-custom 
{
	background-color: transparent;
	padding: 2.5rem !important;
	transition: all 0.4s ease;

	.navbar-brand 
	{
		color: $white;
		font-family: $f-primary;
		font-size: $font-l;
		transition: 0.2s;

		&:hover 
		{
			color: $red;
		}
	}
	
	.nav-item.active .nav-link 
	{
		color: $black;
	}
	
	.nav-item:hover .nav-link 
	{
		color: $red;
	}

	.navbar-nav
	{
		.nav-link
		{
			color: $black;
			font-size: $font-m;
			transition: 0.1s;
		}
	}

	// hamburger animation

	.navbar-toggler 
	{
		background: transparent !important;
		border: none;

		&:focus
		{
			background: transparent !important;
			outline: none;
		}

		&:hover
		{
			>.icon-bar:nth-child(2)
			{
				transition: ease all 0.2s;
				width: 22px;
			}
		}

		&:active
		{
			>.icon-bar:nth-child(2)
			{
				transition: ease all 0.2s;
				width: 22px;
			}
		}

		&:not(.collapsed)
		{
			.icon-bar:nth-child(1)
			{
				transform: rotate(45deg) translate(5px, 4px);
				transition: ease all 0.2s;
			}

			.icon-bar:nth-child(2)
			{
				opacity: 0;
				transition: ease all 0.2s;
			}

			.icon-bar:nth-child(3)
			{
				transform: rotate(-45deg) translate(4px, -4px);
				transition: ease all 0.2s;
			}
		}

		.icon-bar
		{
			background-color: $white;
			border-radius: 1px;
			display: block;
			height: 2px;
			transform: rotate(0deg) translate(0px, 0px);
			transition: ease all 0.2s;
			width: 22px;

			+.icon-bar 
			{
				margin-top: 4px;
			}
			&:nth-child(2) 
			{
				width: 22px;
				transition: ease all 0.2s;
			}
		}
	}
}