/*  
	///////////////////////////////
	//							 //
	//			BUTTONS			 //
	//							 //
	///////////////////////////////
*/

// main button properties

.btn 
{
	border: none;
	font-size: $font-m;

	&:link 
	{
		border: none;
	}

	&:visited 
	{
		border: none;
	}

	&:hover 
	{		
		border: none;
	}
	&:active 
	{
		border: none;
	}
}

// primary call to action button
.btn-CTA-1 {
	background-color: $light-brown;
	border: 0;
	border-radius: 30px;
	box-shadow: none;
	color: $light-grey;
	cursor: pointer;
	display: inline-block;
	font-family: $f-secondary;
	font-size: $font-s;
	font-weight: 1000 !important;
	padding: 1.5rem;;

	&:hover 
	{
		background-color: $dark-grey;
		color: $white;
	}

	&:active 
	{
		background-color: $black !important;
		border-color: $black !important;
		box-shadow: none !important;
		color: white !important;
		outline: none !important;
	}

	&:focus 
	{
		background-color: $black !important;
		border-color: $black !important;
		box-shadow: none !important;
		color: white !important;
	}
}

// secondary call to action button

.btn-CTA-2
{
	@extend .btn-CTA-1;

	background-color: $white !important;
	border: 1px solid $grey !important;
	color: $black;
	
	&:hover
	{
		background-color: $light-grey !important;
		color: $black !important;
	}

	&:active 
	{
		background-color: $white !important;
		border-color: $light-grey !important;
		box-shadow: none !important;
		color: $black !important;
		outline: none !important;
	}

	&:focus 
	{
		background-color: $white !important;
		border-color: $light-grey !important;
		box-shadow: none !important;
		color: $black !important;
	}
}

// form send button

.btn-send {
	@extend .btn-CTA-1;
}


