/*  
	///////////////////////////
	//						 //		     
	//		COMPONENTS		 //
	//						 //
	///////////////////////////
*/

.carousel-caption
{
	background: linear-gradient(rgba(61, 61, 61, 0.15), rgba(110, 110, 110, 0.3));
	text-align: left;
	padding: 0.3rem;

	h5
	{
		font-size: $font-m;
	}

	p
	{
		color: $white;
		font-size: $font-xs;

		.rented
		{
			background-color: $red;
			color: $white;
			padding: 0.65rem;
			border-radius: 20px;
		}

		.for-rent
		{
			@extend .rented;
			background-color: $green;
		}
	}
}

.accordion
{
	.card
	{
		border-radius: 0px;
		.card-header
		{
			button
			{
				font-family: $f-primary;
				color: $light-brown;
			}
		}

		.card-body
		{
			font-size: 1.5rem;
		}
	}
}
