/*  
	///////////////////////////
	//						 //		     
	//		COMPONENTS		 //
	//						 //
	///////////////////////////
*/

.carousel-caption
{
	background: linear-gradient(rgba(61, 61, 61, 0.15), rgba(110, 110, 110, 0.3));
	text-align: left;
	padding: 0.3rem;

	h5
	{
		font-size: $font-m;
	}

	p
	{
		color: $white;
		font-size: $font-xs;

		.rented
		{
			background-color: $red;
			color: $white;
			padding: 0.65rem;
			border-radius: 20px;
		}

		.for-rent
		{
			@extend .rented;
			background-color: $green;
		}
	}
}

.accordion
{
	.card
	{
		border-radius: 0px;
		.card-header
		{
			.btn-link
			{
				color: $light-brown;
				font-family: $f-primary;
				width: 100%;
    			position: relative;
    			text-align: left;
				
				&:hover
				{
					text-decoration: none !important;
				}

				&:active
				{
					text-decoration: none !important;
				}

				&:focus
				{
					text-decoration: none !important;
				}
				
			}
			.btn-link::before {
				content: '';
				width: 14px;
				height: 2px;
				background: #333;
				position: absolute;
				top: calc(50% - 1px);
				right: 1rem;
				display: block;
				transition: all 0.3s;
			  }
			  .btn-link::after {
				content: '';
				width: 2px;
				height: 14px;
				background: #333;
				position: absolute;
				top: calc(50% - 7px);
				right: calc(1rem + 6px);
				display: block;
				transition: all 0.3s;
			  }
			  .btn-link[aria-expanded='true']::after {
				transform: rotate(90deg) translateX(-1px);
			  }
			  
			  .btn-link[aria-expanded='true']::before {
				transform: rotate(180deg);
			  } 
		}

		.card-body
		{
			font-size: 1.5rem;
		}
	}
}

.collapsible-link::before {
	content: '';
	width: 14px;
	height: 2px;
	background: #333;
	position: absolute;
	top: calc(50% - 1px);
	right: 1rem;
	display: block;
	transition: all 0.3s;
  }
  
  /* Vertical line */
//   .collapsible-link::after {
// 	content: '';
// 	width: 2px;
// 	height: 14px;
// 	background: #333;
// 	position: absolute;
// 	top: calc(50% - 7px);
// 	right: calc(1rem + 6px);
// 	display: block;
// 	transition: all 0.3s;
//   }
  
//   .collapsible-link[aria-expanded='true']::after {
// 	transform: rotate(90deg) translateX(-1px);
//   }
  
//   .collapsible-link[aria-expanded='true']::before {
// 	transform: rotate(180deg);
//   } 