/*  
	///////////////////////////
	//						 //		     
	//		COMPONENTS		 //
	//						 //
	///////////////////////////
*/

.carousel-caption
{
	background: linear-gradient(rgba(61, 61, 61, 0.15), rgba(110, 110, 110, 0.3));
	text-align: left;
	padding: 0.3rem;

	h5
	{
		font-size: $font-m;
	}

	p
	{
		color: $white;
		font-size: $font-xs;

		.rented
		{
			background-color: $red;
			color: $white;
			padding: 0.65rem;
			border-radius: 20px;
		}

		.for-rent
		{
			@extend .rented;
			background-color: $green;
		}
	}
}

.accordion
{
	.card
	{
		border-radius: 0px;
		.card-header
		{
			.btn-link
			{
				color: $light-brown;
				font-family: $f-primary;
				width: 100%;
    			position: relative;
    			text-align: left;
				
				&:hover
				{
					text-decoration: none !important;
				}

				&:active
				{
					text-decoration: none !important;
				}

				&:focus
				{
					text-decoration: none !important;
				}
			}
		}

		.card-body
		{
			font-size: 1.5rem;
		}
	}
}

.btn-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 2.3rem;
}

.btn-link[aria-expanded='true']::before {
    content: '\f106';
}