/*  
	//////////////////////////
	//					    //		     
	//		 SECTIONS	    //
	//					    //
	//////////////////////////
*/

// block icon section

.section-relative
{
    position: relative;
    z-index: 1;
}

.block-icon-modern-items
{
    display: flex;
    flex-direction: column;

    .block-icon-modern
    {
        padding: 40px 35px;
        text-align: center;
        transition: ease-in-out .3s;
        margin-left: 1px;
        margin-right: 1px;

        svg
        {
            color: $light-grey !important;
        }

        .block-icon-caption
        {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;

            .block-icon-title
            {
                p
                {
                    color: $light-grey !important;
                    font-family: $f-secondary;
                    font-size: $font-l !important;
                    font-weight: 600;
                }
            }

            .block-icon-text
            {
                p
                {
                    color: $grey !important;
                    font-size: $font-xs;
                }
            }
        }
    }

    .block-icon-primary
    {
        background-color: $light-brown;
        border-color: $light-brown;
    }

    .block-icon-secondary
    {
        background-color: $dark-grey;
        border-color: $dark-grey;
    }

    .block-icon-tertiary
    {
        background-color: $dark-grey-2;
        border-color: $dark-grey-2;
    }
}
.block-icon-modern * + .block-icon-caption {
    margin-top: 20px;
}

// section title

.section-title
{
    position: relative;
    padding-top: 40px;

    h2
    {
        text-transform: capitalize !important;
        font-size: 38px;
    }
    
    span
    {
        font-style: italic;
        color: $light-brown;
        font-weight: 700 !important;
        
    }
}

.section-title::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 2px;
    background: #686157;
}

.section-title.section-title-left::before {

    left: 0;
    transform: translateX(0);

}


