/*
	Carlitos Adventures
*/
/* BASE - Base styles, variables */
/*  
	///////////////////////////////////////////
	//									     //
	//			VARIABLES & IMPORTS			 //
	//									     //
	///////////////////////////////////////////
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap");
/*  
	//////////////////////////////////////
	//									//
	//			BASE ELEMENTS			//
	//									//
	//////////////////////////////////////
*/
html {
  font-size: 65.5%;
  height: 100%;
  margin: 0 !important; }

body {
  color: #444444;
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  height: 100%;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 !important; }

a {
  text-decoration: none;
  color: #1c86a7; }
  a:hover {
    text-decoration: none;
    color: #fa691b; }

h1, h2, h3, h4, h5 {
  line-height: 1.5; }

hr {
  border: 1px solid #ececec;
  border-radius: 90px;
  margin: 7rem 0; }

.hr-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#efa8b0), color-stop(#a89cc8), to(#8cc9f0));
  background-image: -webkit-linear-gradient(left, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -o-linear-gradient(left, #efa8b0, #a89cc8, #8cc9f0);
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  border-color: transparent;
  border-radius: 2px;
  height: 2px;
  margin: 2rem 0; }

li {
  font-size: 1.8rem; }

p {
  color: #747474;
  font-size: 2.1rem; }

strong {
  color: black !important;
  font-weight: 900 !important; }

.container-fluid {
  width: 80%; }

.cont {
  background-color: white;
  border-radius: 0.75rem;
  padding: 2rem;
  margin-bottom: 1rem; }

/* MODULES - Individual site components */
/*  
	///////////////////////////////
	//							 //
	//			BUTTONS			 //
	//							 //
	///////////////////////////////
*/
.btn {
  border: none;
  font-size: 2.1rem; }
  .btn:link {
    border: none; }
  .btn:visited {
    border: none; }
  .btn:hover {
    border: none; }
  .btn:active {
    border: none; }

.btn-CTA-1, .btn-CTA-2, .btn-send {
  background-color: #fa691b;
  border: 0;
  border-radius: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  min-width: 18rem !important;
  margin: 2rem 0.5rem;
  padding: 2rem 3rem; }
  .btn-CTA-1:hover, .btn-CTA-2:hover, .btn-send:hover {
    background-color: #fd8544;
    color: white; }
  .btn-CTA-1:active, .btn-CTA-2:active, .btn-send:active {
    background-color: #fa691b !important;
    border-color: #fa691b !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: white !important;
    outline: none !important; }
  .btn-CTA-1:focus, .btn-CTA-2:focus, .btn-send:focus {
    background-color: #fa691b !important;
    border-color: #fa691b !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: white !important; }

.btn-CTA-2 {
  background-color: #ffffff !important;
  border: 1px solid #cfcfcf !important;
  color: #444444; }
  .btn-CTA-2:hover {
    background-color: #ececec !important;
    color: #444444 !important; }
  .btn-CTA-2:active {
    background-color: #ffffff !important;
    border-color: #ececec !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #444444 !important;
    outline: none !important; }
  .btn-CTA-2:focus {
    background-color: #ffffff !important;
    border-color: #ececec !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #444444 !important; }

.scrollToTop {
  border: none;
  border-radius: 5px;
  bottom: 3rem;
  color: #fa691b;
  cursor: pointer;
  display: none;
  outline: none;
  padding: 1rem;
  position: fixed;
  right: 3rem;
  z-index: 99; }
  .scrollToTop:hover {
    color: #fa691b; }

.spinner-1:before {
  content: "";
  -webkit-animation: spinner 0.7s ease infinite;
  animation: spinner 0.7s ease infinite;
  border-radius: 50%;
  border: 3px solid #cfcfcf;
  border-top-color: #fa691b;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 6rem;
  left: 50%;
  margin-left: -3rem;
  margin-top: -3rem;
  position: absolute;
  top: 50%;
  width: 6rem; }

.spinner-2:before {
  content: "";
  -webkit-animation: spinner 0.7s linear infinite;
  animation: spinner 0.7s linear infinite;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fa691b;
  border-bottom-color: #fa691b;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 6rem;
  left: 50%;
  margin-top: -3rem;
  margin-left: -3rem;
  position: absolute;
  top: 50%;
  width: 6rem; }

.spinner-3:before {
  content: "";
  -webkit-animation: spinner 0.7s linear infinite;
  animation: spinner 0.7s linear infinite;
  border-radius: 50%;
  border-top: 3px solid #fa691b;
  border-right: 3px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 6rem;
  left: 50%;
  margin-top: -3rem;
  margin-left: -3rem;
  position: absolute;
  top: 50%;
  width: 6rem; }

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*  
	//////////////////////////
	//					    //		     
	//		 SECTIONS	    //
	//					    //
	//////////////////////////
*/
.featurette h2 {
  font-size: 3.4rem;
  padding-bottom: 1rem; }

.marketing .marketing-element {
  text-align: center; }
  .marketing .marketing-element h2 {
    font-size: 2.6rem; }
  .marketing .marketing-element p {
    font-size: 2.1rem !important;
    margin-right: 0.75rem;
    margin-left: 0.75rem; }

.tours h1 {
  padding-top: 5rem; }

.tours hr {
  margin: 5rem 0 0 0; }

.tours .hr-2 {
  max-width: 10rem;
  margin: 3rem 0; }

.tours strong {
  font-weight: 900 !important;
  color: black; }

/*  
	///////////////////////////
	//						 //		     
	//		COMPONENTS		 //
	//						 //
	///////////////////////////
*/
.short-icon {
  margin: 2.5rem 0;
  color: #6c5e81;
  font-size: 7rem; }

.tours-heading {
  font-size: 3.4rem;
  color: #747474; }

/*  
	///////////////////////
	//					 //		     
	//		FORMS		 //
	//					 //
	///////////////////////
*/
input[type="text"], input[type="email"], input[type="tel"], textarea {
  border: none !important;
  border-bottom: 2px solid #cfcfcf !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #444444;
  font-size: 2.1rem !important;
  outline: none;
  padding: 1.5rem !important;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }
  input[type="text"]:focus, input:focus[type="email"], input:focus[type="tel"], textarea:focus {
    border-bottom: 2px solid #fa691b !important;
    outline-color: transparent !important; }

input::-webkit-input-placeholder {
  color: #444444 !important; }

input:-ms-input-placeholder {
  color: #444444 !important; }

input::-ms-input-placeholder {
  color: #444444 !important; }

input::placeholder {
  color: #444444 !important; }

.form-group {
  margin: 2rem 0 !important; }

.help-block {
  color: #fa691b; }

textarea {
  border: 2px solid #cfcfcf !important; }
  textarea:focus {
    border: 2px solid #fa691b !important; }

/* LAYOUTS - Page layout styles */
/*  
	///////////////////////////////////
	//								 //	     
	//			NAVIGATION			 //
	//								 //	     
	///////////////////////////////////
*/
nav.shrink {
  padding: 1.5rem 2.5rem !important;
  background-color: #ffffff; }

.navbar-custom {
  background-color: transparent;
  padding: 2.5rem !important;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .navbar-custom .navbar-brand {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 2.6rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .navbar-custom .navbar-brand:hover {
      color: #fa691b; }
  .navbar-custom .nav-item.active .nav-link {
    color: #444444; }
  .navbar-custom .nav-item:hover .nav-link {
    color: #fa691b; }
  .navbar-custom .navbar-nav .nav-link {
    color: #444444;
    font-size: 2.1rem;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
  .navbar-custom .navbar-toggler {
    background: transparent !important;
    border: none; }
    .navbar-custom .navbar-toggler:focus {
      background: transparent !important;
      outline: none; }
    .navbar-custom .navbar-toggler:hover > .icon-bar:nth-child(2) {
      -webkit-transition: ease all 0.2s;
      -o-transition: ease all 0.2s;
      transition: ease all 0.2s;
      width: 22px; }
    .navbar-custom .navbar-toggler:active > .icon-bar:nth-child(2) {
      -webkit-transition: ease all 0.2s;
      -o-transition: ease all 0.2s;
      transition: ease all 0.2s;
      width: 22px; }
    .navbar-custom .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(5px, 4px);
      -ms-transform: rotate(45deg) translate(5px, 4px);
      transform: rotate(45deg) translate(5px, 4px);
      -webkit-transition: ease all 0.2s;
      -o-transition: ease all 0.2s;
      transition: ease all 0.2s; }
    .navbar-custom .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
      opacity: 0;
      -webkit-transition: ease all 0.2s;
      -o-transition: ease all 0.2s;
      transition: ease all 0.2s; }
    .navbar-custom .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(4px, -4px);
      -ms-transform: rotate(-45deg) translate(4px, -4px);
      transform: rotate(-45deg) translate(4px, -4px);
      -webkit-transition: ease all 0.2s;
      -o-transition: ease all 0.2s;
      transition: ease all 0.2s; }
    .navbar-custom .navbar-toggler .icon-bar {
      background-color: #ffffff;
      border-radius: 1px;
      display: block;
      height: 2px;
      -webkit-transform: rotate(0deg) translate(0px, 0px);
      -ms-transform: rotate(0deg) translate(0px, 0px);
      transform: rotate(0deg) translate(0px, 0px);
      -webkit-transition: ease all 0.2s;
      -o-transition: ease all 0.2s;
      transition: ease all 0.2s;
      width: 22px; }
      .navbar-custom .navbar-toggler .icon-bar + .icon-bar {
        margin-top: 4px; }
      .navbar-custom .navbar-toggler .icon-bar:nth-child(2) {
        width: 22px;
        -webkit-transition: ease all 0.2s;
        -o-transition: ease all 0.2s;
        transition: ease all 0.2s; }

/*  
	///////////////////////
	//					 //		     
	//		HEADER		 //
	//					 //
	///////////////////////
*/
.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(190, 190, 190, 0.15)), to(rgba(190, 186, 186, 0.3))), url("/assets/img/images/header.jpg");
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.15), rgba(190, 186, 186, 0.3)), url("/assets/img/images/header.jpg");
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.15), rgba(190, 186, 186, 0.3)), url("/assets/img/images/header.jpg");
  background-image: linear-gradient(rgba(190, 190, 190, 0.15), rgba(190, 186, 186, 0.3)), url("/assets/img/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative; }

.hero-text {
  color: #ffffff;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 8px #444444;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .hero-text h1 {
    font-size: 7rem; }

/*  
	///////////////////////
	//					 //		     
	//		FOOTER		 //
	//					 //
	///////////////////////
*/
footer {
  height: 100%;
  margin-top: 2.5rem;
  padding: 3rem; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #fa691b; }
  footer hr {
    border-color: #ffffff; }
  footer p {
    color: #ffffff; }

/*  
	///////////////////////////////////////////////
	//									     	 //
	//			RESPONSIVE BREAKPOINTS			 //
	//									      	 //
	///////////////////////////////////////////////
*/
@media (max-width: 576px) {
  h1, h2, h3, h4, h5 {
    line-height: 1; }
  .container-fluid {
    width: 100%; }
  .hero h1 {
    font-size: 2.5rem !important; }
  .navbar-custom .navbar-brand {
    font-size: 1.6rem !important; }
  .navbar-custom .navbar-nav .nav-link {
    font-size: 1.6rem; }
  .navbar-tours {
    font-size: 1.2rem; } }

@media (max-width: 768px) {
  p {
    font-size: 1.6rem; }
  li {
    font-size: 1.6rem; }
  .hero h1 {
    font-size: 4rem !important; }
  .navbar-custom .navbar-brand {
    font-size: 1.8rem; }
  .tours p {
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 1rem; } }

@media (max-width: 992px) {
  .cont {
    max-width: 90vw; }
  hr {
    margin: 5rem 0; }
  .hero h1 {
    font-size: 5rem; }
  .navbar-collapse {
    background-color: #ffffff;
    color: #444444 !important; }
  .short-icon {
    font-size: 7.5rem; } }

@media (max-width: 1200px) {
  .btn-CTA-1, .btn-CTA-2, .btn-send {
    font-size: 1.4rem;
    margin-top: 1rem;
    min-width: 13rem;
    padding: 1.5rem; } }

@media (min-width: 992px) {
  .cont {
    padding: 5rem; }
  .header-subtext {
    font-size: 30px;
    padding-bottom: 5rem; }
  .header-text {
    font-size: 80px;
    padding-top: 10rem; }
  .navbar-custom {
    padding: 2.5rem; } }
